.field-flex {
    display: flex;
}

.field__wrap {
    position: relative;
}

.field__wrap label {
    font-size: 0.875rem; /* Equivalent to text-sm */
}

.field__wrap-checkbox {
    display: flex;
    margin-bottom: 10px;
}

.field__wrap-checkbox--multiline {
    margin-bottom: 30px;
}

.field__input,
.field__textarea,
.field__checkbox {
    font-family: "IBM Plex Sans", serif;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid var(--gray-10);
    box-shadow: none;
    background: var(--gray-10);
    color: var(--black);
    transition: border-color 0.2s;
}

.field__input::placeholder,
.field__textarea::placeholder,
.field__checkbox::placeholder {
    color: var(--text-95);
}

.field__input:focus,
.field__textarea:focus,
.field__checkbox:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 2px solid var(--black);
}

.field__input-image img,
.field__textarea-image img,
.field__checkbox-image img {
    max-width: 600px;
    max-height: 300px;
    border-radius: 5px;
}

.field__textarea {
    height: 140px;
    padding: 10px 14px;
    resize: none;
    width: 100%;
}

.field__input {
    min-height: 40px;
    padding: 0 14px;
    width: 100%;
}

.field__checkbox {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.field__checkbox + label span,
.field__checkbox + label span::before {
    cursor: pointer;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
}

.field__checkbox + label span::before {
    content: '';
    width: 14px;
    height: 14px;
    margin: -2px 10px 0 0;
    border: solid 1px var(--black);
    line-height: 14px;
    text-align: center;
    background: var(--white);
}

.field__checkbox:checked + label span::before {
    animation-duration: 1000ms;
    animation-name: like-heart-animation;
    animation-timing-function: ease-in-out;
    background: var(--brand-primary-main);
    border-color: var(--brand-primary-main);
    content: url('@/assets/img/checkmark.svg');
}

.field__checkbox:disabled + label span {
    cursor: default;
    opacity: 0.4;
}

.field__checkbox + label span::before {
    border-radius: 2px;
}

.input_wrap {
    display: flex;
    border: 1px solid var(--gray-10);
    box-shadow: none;
    background: var(--gray-10);
    border-radius: 3px 3px 12px 12px;
}

.input_wrap .field__input {
    background-color: transparent;
    border: none;
}