@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: "Mallory";
    src: url("./assets/fonts/Mallory-Compact-Black.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Mallory";
    src: url("./assets/fonts/Mallory-Compact-Black.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "Mallory", serif;
    @apply text-sm;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

img,
fieldset,
a img {
    border: none;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
textarea {
    -webkit-appearance: none;
}

input[type='submit'],
button {
    cursor: pointer;
}

input[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button {
    background: none;
}

textarea {
    overflow: auto;
}

input,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
    font-family: "DM Sans", serif;
    outline: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mallory", serif;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: "IBM Plex Sans", serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body#app {
    height: 100%;
}
a {
    text-decoration: none;
}

svg,
img {
    vertical-align: middle;
}

.badge {
    display: inline-flex;
    align-items: center;
    padding: 2px 10px;
    border-radius: 3px;
    font-weight: 400;
    margin-right: 5px;
    @apply text-sm;
}

.badge--gray {
    @apply bg-gray-100 text-gray-500 border border-solid border-gray-300;
}
.badge--gray.active {
    @apply bg-gray-200 text-gray-600 border-gray-400;
}

.card{
    overflow: hidden;
    @apply bg-white overflow-hidden rounded;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
